<body>
  <div #overlay class="overlay" (click)="openMenu(burguer, overlay, refUl)"
    (dblclick)="closeMenu(burguer, overlay, refUl)"></div>

  <nav>
    <div #burguer class="burguer-box" (click)="openMenu(burguer, overlay, refUl)"
      (dblclick)="closeMenu(burguer, overlay, refUl)">
      <div class="burguer"></div>
    </div>

    <ul #refUl>
      <li>
        <a [routerLink]="['Home']" [routerLinkActive]="['active']" (click)="navChoice(burguer, overlay, refUl)"
          (dblclick)="navChoice(burguer, overlay, refUl)">Home</a>
      </li>

      <li>
        <a [routerLink]="['Calculator']" [routerLinkActive]="['active']" (click)="navChoice(burguer, overlay, refUl)"
          (dblclick)="navChoice(burguer, overlay, refUl)">Calculator</a>
      </li>

      <li>
        <a [routerLink]="['EvAndRef']" [routerLinkActive]="['active']" (click)="navChoice(burguer, overlay, refUl)"
          (dblclick)="navChoice(burguer, overlay, refUl)">Events + refs</a>
      </li>

      <!-- <li>
        <a [routerLink]="['Clinic']" [routerLinkActive]="['active']" (click)="navChoice(burguer, overlay, refUl)"
          (dblclick)="navChoice(burguer, overlay, refUl)">Clinic</a>
      </li> -->

      <li>
        <a [routerLink]="['List']" [routerLinkActive]="['active']" (click)="navChoice(burguer, overlay, refUl)"
          (dblclick)="navChoice(burguer, overlay, refUl)">List</a>
      </li>
      <li>
        <a [routerLink]="['p-color']" [routerLinkActive]="['active']" (click)="navChoice(burguer, overlay, refUl)"
          (dblclick)="navChoice(burguer, overlay, refUl)">color</a>
      </li>
    </ul>
  </nav>
</body>
