.overlay {
  position: fixed;
  background: transparent;
  width: 100%;
  height: 1000%;
  z-index: 2;
  transform: translateX(-100%);
  transition: background 500ms ease-in-out;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 40vh;
  padding: 15px;
  z-index: 3;
}

/* burguer menu */

nav .burguer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 15%;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

nav .burguer-box .burguer {
  position: relative;
  background: #363650;
  border-radius: 0.3rem;
  width: 75%;
  height: 13%;
  transition: all 500ms ease-in-out;
}

nav .burguer-box .burguer::before, nav .burguer-box .burguer::after {
  content: "";
  position: absolute;
  background: #232333;
  border-radius: 0.3rem;
  width: 80%;
  height: 80%;
  transition: all 500ms ease-in-out;
}

nav .burguer-box .burguer::before {
  left: 10%;
  top: -130%;
}

nav .burguer-box .burguer::after {
  left: 10%;
  top: 150%;
}

/* animation */

nav .burguer-box.open .burguer {
  transform: translateX(-100%);
  background: transparent !important;
}

nav .burguer-box.open .burguer::before {
  left: 100%;
  top: 0;
  background: #f4f4f4;
  transform: rotate(45deg);
  width: 100%;
}

nav .burguer-box.open .burguer::after {
  left: 100%;
  top: 0;
  background: #f4f4f4;
  transform: rotate(-45deg);
  width: 100%;
}

/* nav links */

nav ul {
  padding: 0 0 0 3rem;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  transform: translateX(-110%);
  transition: transform 500ms ease-in-out;
}

nav ul li {
  margin-top: 1rem;
  list-style: none;
}

nav ul li a {
  color: white;
  font-size: 1.125rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 10px;
  transition: padding-left 250ms ease-in-out;
}

nav ul li a:active, nav ul li a:hover {
  color: white;
  padding-left: 1.25rem;
  transition: padding-left 250ms ease-in-out;
}
