<body>
  <div #overlay class="overlay" (click)="openMenu(burguer, overlay, refUl)"
    (dblclick)="closeMenu(burguer, overlay, refUl)"></div>

  <nav>
    <div #burguer class="burguer-box" (click)="openMenu(burguer, overlay, refUl)"
      (dblclick)="closeMenu(burguer, overlay, refUl)">
      <div class="burguer"></div>
    </div>

    <ul #refUl>
      <li>
        <a [routerLink]="['home']" [routerLinkActive]="['active']" (click)="navChoice(burguer, overlay, refUl)"
          (dblclick)="navChoice(burguer, overlay, refUl)">Home</a>
      </li>

      <li>
        <a [routerLink]="['calculator']" [routerLinkActive]="['active']" (click)="navChoice(burguer, overlay, refUl)"
          (dblclick)="navChoice(burguer, overlay, refUl)">Calculator</a>
      </li>

      <li>
        <a [routerLink]="['evAndRef']" [routerLinkActive]="['active']" (click)="navChoice(burguer, overlay, refUl)"
          (dblclick)="navChoice(burguer, overlay, refUl)">Events + refs</a>
      </li>

      <li>
        <a [routerLink]="['clinic']" [routerLinkActive]="['active']" (click)="navChoice(burguer, overlay, refUl)"
          (dblclick)="navChoice(burguer, overlay, refUl)">Clinic</a>
      </li>
    </ul>
  </nav>
</body>
