:root {
  --montserrat: Montserrat, sans-serif;
  --verdana: Verdana, sans-serif;
  --acme: 'Acme', sans-serif;
}

/* reset */

*,
*:after,
*:before {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--montserrat);
  outline: none;
}

body {
  width: calc(100vw - (100vw - 100%));
  height: auto;
}

.active {
  color: #fd7070 !important;
  border-left: 5px solid #ff5e5e;
  transition: all 200ms ease-in-out;
}

.hide {
  display: none !important;
}

.comprados {
  color: red;
  text-decoration: line-through;
}
