<body>
  <div class="bg-img">
    <div class="overlay"></div>
    <p>Welcome</p>
  </div>

  <div class="container">
    <div class="img-container">
      <img src="https://source.unsplash.com/1600x800/?anime-girl" alt="">
      <div class="overlay"></div>
    </div>

    <div class="text-container">
      <p>Calculator</p>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis laudantium, modi, at nam.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis laudantium, modi, at nam.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur </h1>
    </div>
  </div>

  <div id="bg-img2" class="bg-img">
    <div class="overlay"></div>
  </div>

  <div class="container">
    <div class="text-container">
      <p>Events and references</p>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis laudantium, modi, at nam.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis laudantium, modi, at nam.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur </h1>
    </div>

    <div class="img-container">
      <img src="https://source.unsplash.com/1600x800/?fruit" alt="">
      <div class="overlay"></div>
    </div>
  </div>

  <div id="bg-img3" class="bg-img">
    <div class="overlay"></div>
  </div>

  <div class="container">
    <div class="img-container">
      <img src="https://source.unsplash.com/1600x800/?girls" alt="">
      <div class="overlay"></div>
    </div>

    <div class="text-container">
      <p>clinic</p>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis laudantium, modi, at nam.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis laudantium, modi, at nam.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur </h1>
    </div>
  </div>

  <div id="bg-img3" class="bg-img">
    <div class="overlay"></div>
  </div>

  <div class="container">
    <div class="img-container">
      <img src="https://source.unsplash.com/1600x800/?girls" alt="">
      <div class="overlay"></div>
    </div>

    <div class="text-container">
      <p>clinic</p>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis laudantium, modi, at nam.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis laudantium, modi, at nam.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur </h1>
    </div>
  </div>

  <div id="bg-img3" class="bg-img">
    <div class="overlay"></div>
  </div>

  <div class="container">
    <div class="img-container">
      <img src="https://source.unsplash.com/1600x800/?girls" alt="">
      <div class="overlay"></div>
    </div>

    <div class="text-container">
      <p>clinic</p>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis laudantium, modi, at nam.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perspiciatis laudantium, modi, at nam.</h1>
      <h1>Lorem ipsum dolor sit amet consectetur </h1>
    </div>
  </div>

</body>
