div {
  position: fixed;
  top: auto;
  bottom: -20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 15%;
  transition: bottom 350ms ease;
}

div h1 {
  color: white;
  font-size: 1.3vw;
  font-weight: 500;
}

div button {
  background: #fd7070;
  color: #fff;
  border-radius: 0.3rem;
  font-size: 1.5vw;
  font-weight: 800;
  font-variant: small-caps;
  text-align: center;
  outline: none;
  border: none;
  width: 15%;
  height: 50%;
  cursor: pointer;
}

div button:nth-last-of-type(1) {
  background: transparent;
  color: #fd7070;
  border: 2px solid #fd7070;
  width: 10%;
  transition: color 250ms ease, border 250ms ease;
}

div button:nth-last-of-type(1):hover {
  color: white;
  border: 2px solid white;
  transition: color 250ms ease, border-color 250ms ease;
}

.show {
  -webkit-animation: slideUp 350ms 1 forwards;
  animation: slideUp 350ms 1 forwards;
}

.hide {
  -webkit-animation: slideDown 350ms 1 forwards;
  animation: slideDown 350ms 1 forwards;
}

.hide2 {
  -webkit-animation: slideDown 350ms 1 forwards;
  animation: slideDown 350ms 1 forwards;
}

@keyframes slideUp {
  from {
    bottom: -20vh;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideDown {
  from {
    bottom: 0;
  }
  to {
    bottom: -20vh;
    display: none;
  }
}
