body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 15%;
  background: #222;
}

/* input{
  margin-top: 100px;
} */

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3rem;
  box-shadow: -2px -2px 10px 0 #006eff, 2px 2px 10px 0 #ff0000;
  width: 100%;
  height: 90%;
}

.box:nth-last-of-type(1) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3rem;
  box-shadow: -2px -2px 10px 0 #006eff, 2px 2px 10px 0 #ff0000;
  width: 100%;
  height: 90%;
}

.box h1 {
  color: #222;
  font-size: 3vw;
  text-align: center;
  text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6,
    2px 2px 0 #ff6;
  width: 100%;
  height: 10%;
}

.box .img-container {
  position: relative;
  border-radius: 3rem;
  width: 35%;
  height: 50%;
  transition: box-shadow 350ms ease-in-out;
}

.box .img-container::before {
  content: "Republic";
  position: absolute;
  top: -25%;
  color: #222;
  text-shadow: -2px -2px 2px #006eff, 2px 2px 2px #006eff;
  font-size: 2.5vw;
  font-family: var(--acme);
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 0.2rem;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.box .img-container:nth-last-child(1):before {
  content: "Sith";
  text-shadow: -2px -2px 2px #ff0000, 2px 2px 2px #ff0000;
}

.box .img-container:hover {
  box-shadow: 0 0 25px 0 rgba(0, 110, 255, 0.5);
  transition: all 350ms ease-in-out;
}

.box .img-container:nth-last-child(1):hover {
  box-shadow: 0 0 25px 0 rgba(255, 0, 0, 0.5);
}

.box .img-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  cursor: pointer;
}

/* lightsaber */

/* lightsaber box */
.lightsaber {
  position: relative;
}

/* checkbox */
#light {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

/* pega */
.hilt {
  display: block;
  background: silver;
  background-image: linear-gradient(
    silver 0 6%,
    #df9c20 0 10%,
    silver 0 14%,
    black 0 20%,
    silver 0 22%,
    black 0 24%,
    silver 0 26%,
    black 0 28%,
    silver 0 30%,
    black 0 32%,
    silver 0 34%,
    black 0 36%,
    silver 0 38%,
    black 0 40%,
    silver 0 42%,
    black 0 44%,
    silver 0 55%,
    #df9c20 3.75rem 75%,
    silver 0 100%
  );
  border-radius: 0 0 0.4rem 0.4rem;
  width: 1vw;
  height: 13vh;
  cursor: pointer;
}

/* lamina */
.blade {
  position: absolute;
  top: -250%;
  background: white;
  border-radius: 100vw 100vw 0 0;
  box-shadow: inset 0 0 0.25rem hsl(0, 100%, 50%),
    0 0 1rem hsla(0, 100%, 50%, 0.8), 0 0 1.5rem hsla(0, 100%, 50%, 0.7),
    0 0 2rem hsla(0, 100%, 50%, 0.5), 0 0 3rem hsla(0, 100%, 50%, 0.3),
    0 0 5rem hsla(0, 100%, 50%, 0.2);
  height: 250%;
  width: 100%;
  transition: transform 150ms ease-out, animation 350ms ease-in-out;
  transform-origin: bottom;
}

/* pulsar */

.blade::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  border-radius: inherit;
  opacity: 0.7;
  z-index: 2;
}

.blade::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: hsl(0, 100%, 50%);
  border-radius: inherit;
  filter: blur(0.5rem);
  opacity: 1;
  animation: pulse linear 5s infinite;
}

/* pulse animation */
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

/* ligar e desligar lightsaber */
#light:checked + .blade {
  transform: scaleY(1);
}

#light:not(:checked) + .blade {
  transform: scaleY(0);
}

/* defend animation */
.defend {
  -webkit-animation: defend 10s infinite alternate;
  animation: defend 10s infinite alternate;
}

@keyframes defend {
  from {
    transform: rotate(0) translate(0, 0);
  }
  20% {
    transform: rotate(7200deg);
  }
  40% {
    transform: rotate(0) translate(-800%, 0);
  }
  50% {
    transform: rotate(-1800deg);
  }
  60% {
    transform: rotate(0) translateX(1000%);
  }
  70% {
    transform: rotate(7200deg);
  }
  80% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0) translate(0, 0);
  }
}

/* container and buttons */

.container {
  position: absolute;
  top: auto;
  bottom: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 15%;
}

.container div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
  height: 33%;
}

.container button {
  color: #006eff;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  font-family: var(--acme);
  font-size: 1vw;
  font-weight: 500;
  width: 10%;
  height: 33%;
  cursor: pointer;
}

.container button:nth-of-type(1) {
  background: transparent;
  border: 2px solid #006eff;
}

.container button:nth-of-type(2) {
  position: relative;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;
  animation: rainbow 5s ease infinite;
}

.container button:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 2%;
  background: #222;
  border-radius: 0.3rem;
  width: 96%;
  height: 90%;
}

.container button:nth-of-type(2)::after {
  content: "Tune it up";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    124deg,
    #dd00f3,
    #dd00f3,
    #2b1de8,
    #1ddde8,
    #1de840,
    #e3e81d,
    #e8b71d,
    #e81d1d,
    #ff2400
  );
  background-size: 1800% 1800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--acme);
  font-size: 1vw;
  font-weight: 500;
  text-align: center;
  width: 100%;
  height: 100%;
  animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.container div button {
  background: transparent;
  color: #ff0000;
  border: 2px solid #ff0000;
  width: 35%;
  height: 100%;
}

.container div input {
  background: transparent;
  color: #ff0000;
  border: 2px solid rgb(190, 190, 190);
  padding: 0 2%;
  width: 45%;
  height: 80%;
}

.tuneIt {
  -webkit-animation: rainbow2 5s infinite ease;
  animation: rainbow2 5s infinite ease;
  transition: all 350ms ease-in-out;
}

@keyframes rainbow2 {
  from,
  to {
    box-shadow: inset 0 0 0.25rem hsl(0, 100%, 50%),
      0 0 1rem hsla(0, 100%, 50%, 0.8), 0 0 1.5rem hsla(0, 100%, 50%, 0.7),
      0 0 2rem hsla(0, 100%, 50%, 0.5), 0 0 3rem hsla(0, 100%, 50%, 0.3),
      0 0 5rem hsla(0, 100%, 50%, 0.2);
  }
  16% {
    box-shadow: inset 0 0 0.25rem hsl(46, 82%, 51%),
      0 0 1rem hsla(46, 82%, 51%, 0.8), 0 0 1.5rem hsla(46, 82%, 51%, 0.7),
      0 0 2rem hsla(46, 82%, 51%, 0.5), 0 0 3rem hsla(46, 82%, 51%, 0.3),
      0 0 5rem hsla(46, 82%, 51%, 0.2);
  }
  32% {
    box-shadow: inset 0 0 0.25rem hsl(61, 82%, 51%),
      0 0 1rem hsla(61, 82%, 51%, 0.8), 0 0 1.5rem hsla(61, 82%, 51%, 0.7),
      0 0 2rem hsla(61, 82%, 51%, 0.5), 0 0 3rem hsla(61, 82%, 51%, 0.3),
      0 0 5rem hsla(61, 82%, 51%, 0.2);
  }
  48% {
    box-shadow: inset 0 0 0.25rem hsl(130, 82%, 51%),
      0 0 1rem hsla(130, 82%, 51%, 0.8), 0 0 1.5rem hsla(130, 82%, 51%, 0.7),
      0 0 2rem hsla(130, 82%, 51%, 0.5), 0 0 3rem hsla(130, 82%, 51%, 0.3),
      0 0 5rem hsla(130, 82%, 51%, 0.2);
  }
  64% {
    box-shadow: inset 0 0 0.25rem hsl(183, 82%, 51%),
      0 0 1rem hsla(183, 82%, 51%, 0.8), 0 0 1.5rem hsla(183, 82%, 51%, 0.7),
      0 0 2rem hsla(183, 82%, 51%, 0.5), 0 0 3rem hsla(183, 82%, 51%, 0.3),
      0 0 5rem hsla(183, 82%, 51%, 0.2);
  }
  80% {
    box-shadow: inset 0 0 0.25rem hsl(244, 82%, 51%) 0 0 1rem
        hsla(244, 82%, 51%, 0.8),
      0 0 1.5rem hsla(244, 82%, 51%, 0.7), 0 0 2rem hsla(244, 82%, 51%, 0.5),
      0 0 3rem hsla(244, 82%, 51%, 0.3), 0 0 5rem hsla(244, 82%, 51%, 0.2);
  }
  90% {
    box-shadow: inset 0 0 0.25rem hsl(295, 100%, 48%),
      0 0 1rem hsla(295, 100%, 48%, 0.8), 0 0 1.5rem hsla(295, 100%, 48%, 0.7),
      0 0 2rem hsla(295, 100%, 48%, 0.5), 0 0 3rem hsla(295, 100%, 48%, 0.3),
      0 0 5rem hsla(295, 100%, 48%, 0.2);
  }
}
